
/*Inicio de estilos de la pagina de ford*/

/* Estilo Titulos*/

header{
    text-align: center;
    padding: 12px;
}

h2{
    padding: 25px;
}

h3{
    padding: 30px;
}

h4{
    padding: 15px;
}

#estiloh4{
    color: white;
}

#estiloh5{
    color: white;
}





#Camionetas_Disponibles{
    padding: 30px;
}


.imgCarr{
    width: auto;
    height: 30%;
    max-height: 30%;

}

/*Estilo de informacion*/

#Informacion{
    background-color: rgb(0, 7, 51) ;
    text-align: center;
    padding: 10px;
    color: white;
}

form{
    margin: auto;
}

.margin-top{
    margin-top: 10px;
    padding: 20px;
}

.Vehiculos_dis{
    width: 100%;
}

#boton{
    padding: 15px;
    font-size: 18px;
}

footer{
    text-align: center;
    justify-content: center;
    background-color: black;
    padding: 20px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/*Final de estilos de la pagina de ford*/

/*Inico de estilos de la pagina de Informacion*/
.info{
    text-align: center;
    justify-content: center;
    background-color: rgb(68, 68, 68);
    color: white;
}

#estilo_service{
    padding: 10px;
    background-color: rgb(0, 7, 51) ;
    text-align: center;
}

label{
    padding: 5px;
}

#estilolabel{
    color: white;
}

/*Estlo Javascript*/
#contenedor {
    padding: 20px;
}

.tarjeta {
    background-color: #c5c5c5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.acciones a {
    color: (0, 7, 51);
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.acciones a:hover {
    text-decoration: underline;
}

#ingresar {
    padding: 20px;
}

#ingresar form {
    display: flex;
    flex-direction: column;
}


#ingresar button {
    background-color: (0, 7, 51);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#ingresar button:hover {
    background-color: #686868;
}

